@import "shared/shared.scss";

body {
  margin: 0;
  padding: 0;
}

.list {
  margin-top: 25px;

  .flow_record {
    position: relative;
    display: flex;
    border: 1px solid $ACCENT;
    padding: 12px 12px;
    box-shadow: 0px 1px 3px -1px $SHADOW;
    background-color: $WHITE;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;

    .ribbon {
      position: absolute;
      text-transform: uppercase;
      color: $WHITE;
      transform: rotate(-45deg);
      font-size: 0.6em;
      text-align: center;
      transform-origin: center center;

      &.-public {
        background-color: $PUBLIC_RIBBON;
        top: 10px;
        left: -21px;
        width: 80px;
      }
  
      &.-copyable {
        background-color: $COPYABLE_RIBBON;
        top: 23px;
        left: -25px;
        width: 110px;
      }
    }

    .information {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      flex-shrink: 1;
      flex-grow: 1;

      .description {
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        div {
          flex-shrink: 0;
          flex-grow: 1;
        }

        h2 {
          margin: 0px;
          flex-shrink: 1;
          flex-grow: 0;
        }

        .stats {
          flex-shrink: 0;
          flex-grow: 0;
          display: flex;
          font-size: 0.8em;
        }

        .permalink {
          flex-shrink: 0;
          flex-grow: 0;
          font-size: 0.8em;
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        flex-shrink: 0;
        flex-grow: 0;

        a {
          display: flex;
          text-decoration: none;
          color: $BLACK;
          font-size: 0.85em;
          text-transform: uppercase;
          flex-direction: row-reverse;

          svg {
            width: 20px;
            height: 20px;
            margin-left: 4px;

            path {
              stroke-width: 2;
              transition: all $TRANSITION_TIMING ease-in-out;
            }
          }

          &:hover {
            svg {
              transform: scale(1.05);

              path {
                stroke-width: 3;
              }
            }
          }
        }

        .confirmation {
          svg {
            width: 30px;
            height: 30px;
            margin-left: 0;
          }
        }
      }
    }

    .image {
      height: 120px;
      width: 160px;
      flex-shrink: 0;
      flex-grow: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .image_placeholder {
      width: 30px;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}

.webfront {
  z-index: 100;

  section#home {
    position: relative;
    height: 100vh;
    background-image: url(image_path('homebg.jpg'));
    background-size: cover;
    background-position: center center;

    .information {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $WHITE;
      font-size: 1em;
      font-weight: 100;
      text-align: center;

      .logo {
        font-size: 3em;
        margin-bottom: 20px;
      }
  
      .punch {
        font-size: 1.5em;
      }
    }
  }

  section#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 20px;

    .feature {
      width: 30%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .information {
        text-align: center;

        .title {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 6px;
        }

        .description {
          text-align: center;
          line-height: 1.5;
        }
      }

      svg {
        height: 150px;
        width: auto;
        margin: auto;
      }
    }
  }

  section#bottom {
    padding: 10px 20px;
    background-color: #080f19;
    color: $WHITE;
    padding-top: 45px;

    .changelog {
      margin-bottom: 35px;
      opacity: 0.8;
      font-size: 0.9em;
    }

    p {
      text-align: center;
      font-weight: 100;

      small {
        font-size: 0.7em;
        opacity: 0.4;
      }
    }

    div {
      opacity: 0.5;
      font-size: 0.85em;
      text-align: center;

      ul {
        display: inline-block;

        li {
          text-align: left;
        }
      }
    }
  }

  section#executor, section#designer {
    height: 100vh;
  }

  .split_info {
    display: flex;
    align-items: center;

    .image {
      width: 60%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .information {
      flex-grow: 0;
      margin: 25px;
    }
  }

  section#executor {
    &.split_info {
      .image {
        background-image: url(image_path('homebg.jpg'));
      }
    }
  }

  section#designer {
    &.split_info {
      .image {
        background-image: url(image_path('homebg.jpg'));
      }
    }
  }
}

.button {
  padding: 8px 14px;
  border: none;
  background-color: $ACCENT;
  border-radius: 12px;
  box-shadow: 0px 1px 3px -1px $SHADOW;
  display: inline-flex;
  text-decoration: none;
  transition: all $TRANSITION_TIMING ease-in-out;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
  color: $ACCENT_CONTRAST;
  font-size: 0.9em;
  line-height: 1;

  &:hover{
    box-shadow: 0px 2px 4px -1px $SHADOW;
    color: $ACCENT_HIGHLIGHT;
  }

  &.-stripped {
    background-color: transparent;
    border: none;
    color: $BLACK;
  }
}

.toolbar {
  display: inline-flex;
  justify-content: space-around;

  &>* {
    margin-right: 12px;
  }
}

form {
  label, div.label {
    display: block;
    margin-bottom: 4px;
  }

  input[type="file"] {
    display: none;
  }

  .file {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      height: 100%;
      width: 35px;
      margin-right: 15px;
      object-fit: contain;
    }

    button {
      margin-right: 15px;
      margin-top: 0;
    }
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid $ACCENT;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 40px;
    font-size: 17px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;
    width: 50px;
    height: 25px;
    background: $ACCENT_CONTRAST;
    margin-bottom: 15px;
    border-radius: calc(25px / 2);
    transition: all $FAST_TRANSITION_TIMING ease-in-out;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $ACCENT_HIGHLIGHT;
      border-radius: 50%;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      transition: all $FAST_TRANSITION_TIMING ease-in-out;
    }
  }

  input[type="checkbox"]:checked + label {
    background: green;

    &::after {
      left: 50%;
    }
  }
}