@import "shared/shared.scss";

body {
  font-family: sans-serif;
  padding: 15px;
}

.flow {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .chat {
      flex-grow: 1;
      flex-shrink: 1;
  }

  .checklist{
      flex-shrink: 1;
      flex-grow: 1;

      ul {
          background-color: rgba(0,0,0,.15);
          border-radius: 10px;
          list-style-type: none;
          padding: 10px 5px;

          li {
              padding: 5px 0 0 25px;
              position: relative;
              margin-top: 5px;
              border-top: 1px solid rgba(0,0,0,.1);

              &:first-child {
                  padding-top: 0px;
                  margin-top: 0;
                  border-top: none;
              }

              &:before {
                  position: absolute;
                  left: 5px;
                  font-size: 0.8em;
                  content: "\2713";
                  color: #666;
              }
          }
      }
  }
}

answers,answer,exchange {
  display: block;
}

exchange,answers {
  clear: both;
}

answers {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  answer {
      flex-grow: 1;
      text-align: center;
      border: 1px solid rgba(0,0,0,.3);
      padding: 10px 16px;
      border-radius: 14px;
      cursor: pointer;
      transition: background-color 250ms ease-in-out;
      margin-bottom: 10px;

      &:hover {
          background-color: rgba(0,0,0,.2);
      }
  }
}

me,him {
  display: block;
  padding: 10px 16px;
  clear: both;
  border-radius: 14px;
  margin: 2px 0;
}

him {
  float: left;
  background-color: #AAA;
  color: black;
  margin-right: 50px;
  border-bottom-left-radius: 0px;
}

me {
  float: right;
  background-color: #0680f3;
  color: white;
  margin-left: 50px;
  border-bottom-right-radius: 0px;
}

code {
  padding: 5px;
  background-color: rgba(0,0,0,.15);
}

.credit {
  margin-top: 45px;
  font-size: 0.8em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  color: transparentize($color: $BLACK, $amount: 0.5);
  justify-content: center;
  align-items: center;

  a {
    font-size: 1.3em;
    text-decoration: none;
    color: $BLACK;

    span {
      font-weight: 100;      
    }
  }
}