<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to flowychat, <%= @user.display_name %></h1>
    <p>
      You have successfully signed up to flowychat,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      Just a small step away to activate your account.
      <br/>
      It's dangerous to go alone. Take this: <%= @activation_link %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>