.breadcrumbs {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: $WHITE;
  box-shadow: 0 0 3px 1px $SHADOW;
  font-size: 0.85em;
  padding-left: 15px;

  .crumbs {
    display: flex;
    align-items: center;

    .fclogo {
      text-decoration: none;
      color: $BLACK;
      font-weight: 100;
      font-size: 1.5em;
      padding: 4px;
      margin-right: 4px;
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}

.top_navigation {
  display: flex;
  position: fixed;
  top:0px;
  right: 0px;
  align-items: top;

  &>div {
    position: relative;
    border-radius: 0px 0px 0px 16px;
    height: 45px;

    background-color: $ACCENT;
    display: flex;
    box-shadow: 0 0 3px 1px $SHADOW;
    height: 50px;

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $BLACK;
      padding: 3px 12px;
      text-align: center;
  
      &:hover, &.-active {
        div {
          color: $ACCENT_HIGHLIGHT;
        }

        svg path {
          stroke-width: 3;
          stroke: $ACCENT_HIGHLIGHT;
        }
      }
  
      div {
        font-size: 9px;
        text-transform: uppercase;
        color: $ACCENT_CONTRAST;
        transition: color $TRANSITION_TIMING ease-in-out;
      }

      svg {    
        height: 28px;

        path {
          stroke: $ACCENT_CONTRAST;
          stroke-width: 2;
          transition: all $TRANSITION_TIMING ease-in-out;
        }
      }
    }
  }
}