@import "vars.scss";
@import "mixins.scss";

@import "fonts.scss";

@import "navigation.scss";

html, body {
  font-family: 'Open Sans';
  background: $BG;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 8px 14px;
  border: 1px solid $ACCENT_HIGHLIGHT;
  background-color: $ACCENT;
  border-radius: 12px;
  box-shadow: 0px 1px 3px -1px $SHADOW;
  display: inline-flex;
  text-decoration: none;
  transition: all $TRANSITION_TIMING ease-in-out;
  align-items: center;

  div {
    svg {    
      path {
        stroke: $ACCENT_CONTRAST;
        stroke-width: 2;
        transition: all $TRANSITION_TIMING ease-in-out;
      }
    }

    &:first-child {
      width: 20px;
      height: 20px;
    }

    &:last-child {
      text-transform: uppercase;
      color: $ACCENT_CONTRAST;
      transition: color $TRANSITION_TIMING ease-in-out;
      font-size: 0.9em;
      margin-right: 8px;
      margin-left: 3px;
    }
  }

  &:hover{
    box-shadow: 0px 2px 4px -1px $SHADOW;

    div {
      color: $ACCENT_HIGHLIGHT;

      svg path {
        stroke-width: 3;
        stroke: $ACCENT_HIGHLIGHT;
      }
    }
  }

  &.-green {
    background-color: $ACTION_GREEN;

    div {
      svg {    
        path {
          stroke: $ACTION_GREEN_CONTRAST;
        }
      }
  
      &:last-child {
        color: $ACTION_GREEN_CONTRAST;
      }
    }
  
    &:hover{
      div {
        color: $ACTION_GREEN_HIGHLIGHT;
  
        svg path {
          stroke: $ACTION_GREEN_HIGHLIGHT;
        }
      }
    }
  }
}

form {
  label {
    display: block;
    margin-bottom: 4px;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid $ACCENT;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
}

hr {
  margin: 22px 0;
}

.confirmation {
  display: inline-flex;

  [data-confirmation="show"] {
    pointer-events: all;
    width: 30px;
  }
  
  [data-confirmation="action"],
  [data-confirmation="hide"] {
    width: 0px;
  }

  [data-confirmation="hide"] {
    svg path {
      stroke: $CANCEL_RED;
    }
  }

  [data-confirmation="action"] {
    svg path {
      stroke: $CONFIRM_GREEN;
    }
  }

  &.-visible {
    [data-confirmation="show"] {
      opacity: .3;
      pointer-events: none;
    }
    
    [data-confirmation="action"],
    [data-confirmation="hide"] {
      width: 30px;
    }
  }

  &>div {
    transition: all $TRANSITION_TIMING ease-in-out;
    width: 0px;
    overflow: hidden;

    svg {
      width: 100%;
      height: 100%;

      path {
        stroke-width: 3;
      }
    }
  }
}

.text_align_center {
  text-align: center;
}