$BG: #EEE;
$BLACK: #111;
$WHITE: #FFF;
$ACTION_GREEN: rgb(38, 134, 51);
$ACTION_GREEN_HIGHLIGHT: rgb(146, 192, 134);
$ACTION_GREEN_CONTRAST: rgb(70, 77, 67);
$ACCENT_HIGHLIGHT: #CCC;
$ACCENT_CONTRAST: #AAA;
$ACCENT: #666;
$SHADOW: transparentize(#222, 0.4);
$COPYABLE_RIBBON: yellowgreen;
$PUBLIC_RIBBON: red;
$CONFIRM_GREEN: green;
$CANCEL_RED: red;

$TRANSITION_TIMING: 450ms;