$BG: #EEE;
$BLACK: #111;
$WHITE: #FFF;
$ACCENT_HIGHLIGHT: #CCC;
$ACCENT_CONTRAST: #AAA;
$ACCENT: #666;
$SHADOW: transparentize(#222, 0.4);
$COPYABLE_RIBBON: yellowgreen;
$PUBLIC_RIBBON: red;
$CONFIRM_GREEN: green;
$CANCEL_RED: red;

$TRANSITION_TIMING: 450ms;
$FAST_TRANSITION_TIMING: 200ms;