<div class="container">
  <h1>Public Gallery</h1>
  <% if @flows.count.zero? %>
    <div>No flows to list</div>
  <% else %>
    <div class="list">
      <% @flows.each do |flow| %>
        <%= render partial: "shared/flow", locals: {flow: flow, type: :gallery} %>
      <% end %>
    </div>
  <% end %>
</div>