<div><strong>what's new since <code>beta-0.0</code></strong></div>
<div>
  <ul>
    <li>absolutely everything</li>
  </ul>
</div>
<div><strong>i am very aware that:</strong></div>
<div>
  <ul>
    <li>this homepage sucks!</li>
    <li>flow image is not being resized (on the file level) to meet the intended use</li>
    <li>form validation is performed on the server side only, and your values go away</li>
    <li>Emails are really blaaaaand</li>
    <li>on the designer, mid-line arrows are not well centered</li>
    <li>on the designer, drag-moving the flow canvas, will mess up the connectors edge detection
  </ul>
</div>
<div><strong>i am thinking about:</strong></div>
<div>
  <ul>
    <li>configurable chat styles (colors, display names, profile pictures)</li>
    <li>conditional step messages (conditional like the exits)</li>
    <li>multi-condition exit (select more than one origin), to prevent repetition</li>
  </ul>
</div>
<div><strong>yes, popular IM integration, as a bot, already crossed my mind. one thing at a time</strong></div>