<div><strong>what's new since <code>beta-0.1</code></strong></div>
<div>
  <ul>
    <li>on the designer, drag-moving the flow canvas will no longer mess up the connectors</li>
    <li>on the designer, mid-line arrows are now well centered</li>
    <li>on the executor, tasks set on the first step are now added to the list</li>
    <li>on the executor, chat now moves smoothly and favors chat visibility</li>
    <li>on the designer, faded secondary connectors when a step is selected</li>
  </ul>
</div>
<div><strong>i am very aware that:</strong></div>
<div>
  <ul>
    <li>flow image is not being resized (on the file level) to meet the intended use</li>
    <li>form validation is performed on the server side only, and your values go away</li>
    <li>Emails are really blaaaaand</li>
  </ul>
</div>
<div><strong>i am thinking about:</strong></div>
<div>
  <ul>
    <li>configurable chat styles (colors, display names, profile pictures)</li>
    <li>conditional step messages (conditional like the exits)</li>
    <li>multi-condition exit (select more than one origin), to prevent repetition</li>
    <li>step ownership, by user. stop execution until a specific user continues it</li>
  </ul>
</div>
<div><strong>yes, popular IM integration, as a bot, already crossed my mind. one thing at a time</strong></div>