<div class="flow">
  <div class="chat"></div>
  <div class="checklist">
    <h1>Your checklist</h1>
    <ul></ul>
    <h1>Your permalink</h1>
    <code id="permalink"><%= @permalink %></code>
  </div>
  <div class="credit">
    <span>powered by</span>
    <a href="/" target="_blank">
      <span>flowy<strong>chat</strong></span>
    </a>
  </div>
</div>